<h1>Listing posts</h1>

<table>
  <tr>
    <th>Points</th>
    <th>Title</th>
    <th></th>
    <th></th>
  </tr>

<% @posts.each do |post| %>
  <tr>
    <td><%= post.points %></td>
    <td><%= link_to post.title, post %> (<%= post.url %>) [<%= post.poster %>]
    <% if post.posted_by?(current_user) %>
      <% if post.editable? %>
      <td><%= link_to 'Edit', edit_post_path(post) %></td>
      <% end %>
    <td><%= link_to 'Destroy', post, confirm: 'Are you sure?', method: :delete %></td>
    <% end %>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'Submit', new_post_path %>
