%h1 Listing posts
.row.heading
  .span4 Points
  .span8 Title
- @posts.each do |post|
  .row.post
    .span4
      =post.points
      - if current_target
        - unless post.already_voted?(current_target) || post.created_by?(current_target)
          = link_to "UP", post_votes_path(post, :positive => true), :method => :post
    .span6
      = link_to post.title, post
      - if !post.url.blank?
        (#{post.url})
      [#{post.poster}]
    .span2
      - if post.posted_by?(current_target)
        - if post.editable?
          = link_to 'Edit', edit_post_path(post)
        = link_to 'Destroy', post, confirm: 'Are you sure?', method: :delete

= link_to 'Submit', new_post_path