- @posts.each_with_index do |post, index|
  .post.clearfix
    .post-index= index+1
    .btn-group.post-vote
      %span.btn.post-points
        =post.points
      - if (current_target && !(post.already_voted?(current_target) || post.created_by?(current_target))) || !current_target
        = link_to "⬆", post_votes_path(post, :positive => true), :method => :post, :class => "btn post-upvote", :title => "Upvote"
    .post-content
      %h4
        = link_to post.title, post
        - if !post.url.blank?
          %span.post-url
            (#{post.url})
      %p.post-byline
        by #{link_to post.poster, post.poster}, #{time_ago_in_words(post.created_at)} ago
      .post-admin
        - if post.posted_by?(current_target)
          - if post.editable?
            = link_to 'Edit', edit_post_path(post)
          = link_to 'Destroy', post, confirm: 'Are you sure?', method: :delete