!!!
%html
  %head
    %title Newsful
    = stylesheet_link_tag    "application"
    = javascript_include_tag "application"
    = csrf_meta_tags
    %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}/
    %link{:rel=>"shortcut icon", :href=>"/assets/favicon.ico"}    
  %body
    .navbar.container
      %h1.logo
        = link_to "Newsful", posts_url
      %ul.nav.nav-pills
        - if admin_signed_in?
          %li= link_to current_admin.email, edit_user_registration_path
          %li= link_to "Logout", destroy_admin_session_path, :method => :delete
        - elsif user_signed_in?
          %li= link_to current_user.email, edit_user_registration_path
          %li= link_to "Logout", destroy_user_session_path, :method => :delete
        - else
          %li= link_to "Login", new_user_session_path
          %li= link_to "Sign up", new_user_registration_path
          %li= link_to "Admin", new_admin_session_path
        %li= link_to 'Submit', new_post_path
    #main.container
      = yield
    .footer.container