!!!
%html
  %head
    %title Newsful
    = stylesheet_link_tag    "application"
    = javascript_include_tag "application"
    = csrf_meta_tags
    %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}/
    %link{:rel=>"shortcut icon", :href=>"/assets/favicon.ico"}    
  %body
    .navbar.clearfix
      %h1.logo
        = link_to "Newsful", posts_url
      %ul#primary-nav.nav.nav-pills
        %li= link_to raw('<i class="icon-star"></i>Top'), posts_url
        %li= link_to raw('<i class="icon-inbox"></i>New'), '#'
        %li= link_to raw('<i class="icon-pencil"></i>Submit'), new_post_path
        
      %ul#secondary-nav.nav.nav-pills
        - if admin_signed_in?
          %li= link_to current_admin.email, edit_user_registration_path
          %li= link_to "Log Out", destroy_admin_session_path, :method => :delete
          %li= link_to "Admin", new_admin_session_path
        - elsif user_signed_in?
          %li= link_to current_user.email, edit_user_registration_path
          %li= link_to "Log Out", destroy_user_session_path, :method => :delete
        - else
          %li= link_to "Log In", new_user_session_path
          %li= link_to "Sign up", new_user_registration_path
    #main.container
      = yield
    .footer.container