!!!
%html
  %head
    %title Newsful
    = stylesheet_link_tag    "application"
    = javascript_include_tag "application"
    = csrf_meta_tags
  %body
    %p
      hi!!
    .container
      .navbar
        .user-nav= link_to "Newsful", posts_url
        .brand
        .user-nav
          - if admin_signed_in?
            = link_to current_admin.email, edit_user_registration_path
            = link_to "Logout", destroy_admin_session_path, :method => :delete
          - elsif user_signed_in?
            = link_to current_user.email, edit_user_registration_path
            = link_to "Logout", destroy_user_session_path, :method => :delete
          - else
            = link_to "Login", new_user_session_path
            = link_to "Sign up", new_user_registration_path
            = link_to "admin", new_admin_session_path
      .ticket-nav
      .search-wrapper
      .main
        = yield
      .sidebar
        .content
          Sidebar
      .container-footer
    .footer
      Footer